<div class="jumbotron text-center">
  <h1>Semester Project</h1>
  <p class="lead">Welcome to our semester project</p>
  <div>
    <a [routerLink]="['/register']" class="btn btn-primary">Register</a>
    <a [routerLink]="['/login']" class="btn btn-default">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Node.js + Express server using Mongoose to organize models</p>
  </div>
  <div class="col-md-4">
    <h3>Angular CLI</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quibusdam quod aut est doloremque atque repudiandae, a, natus, velit excepturi pariatur error odit tempora iusto culpa eos doloribus. Quibusdam, eius.</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam esse quae accusantium sint molestiae tempora ea, fugit vel sed, repellat iusto corporis necessitatibus soluta maxime quisquam earum natus fugiat laboriosam.</p>
  </div>
</div>